* {
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* .BannerImage {
    background-image: url("../../assets/bannerImage/b2.jpg");
    background-size: cover;
    object-fit: fill;
    width: 100% !important;
    height: 15vh !important;

} */


.boxBanner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../assets/bannerImage/b17.jpg");
    background-image: cover;
    width: 540px;
    height: 40vh;
    background-position: center;
    background-repeat: none;


}




.boxBanner2 {
  

    background-image: url("../../assets/bannerImage/b10.jpg");
    background-image: cover;
    width: 540px;
    height: 38vh;
    background-position: center;
    background-repeat: none;

}

.boxBanner3 {
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-image: url("../../assets/bannerImage/b7.jpg");
    background-image: cover;
    width: 540px;
    height: 38vh;
    background-position: center;
    background-repeat: none;

}

.boxBanner4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../assets/bannerImage/b17.jpg");

    background-image: cover;
    width: 680px;
    height: 38vh;
    background-position: center;
    background-repeat: none;

}

.boxBanner5 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../assets/bannerImage/b18.jpg");
    background-image: cover;
    width: px;
    height: 40vh;
    background-position: center;
    background-repeat: none;

}

.btnStyle2:hover {
    background-color: green;
}